.mainBlock {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 0 15px;
}

.todoBlock {
    flex: 0.4 0 15em;
    text-align: start;
}

.inputDescriptionBlock {
    flex: 0.4 0 10em;
    text-align: start;
    margin-right: 50px;
}

.inputBlock {
    display: flex;
    flex-direction: column;
}

h5 {
    margin-bottom: 8px;
}

@media (min-width: 1601px) {
    .mainBlock {
        font-size: 2rem;
    }
}