.todoItem {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background: whitesmoke;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    margin: 2px auto;
}

.todoItemText {
    border: 0px;
    padding-left: 5px;
}

.todoItemText:focus {
    background-color: whitesmoke;
    outline: none;
}



.icons {
    display: flex;
    align-items: center;
}